@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-100 font-sans antialiased;
  }

  * {
    @apply box-border;
  }
}

@layer utilities {
  .no-tap-highlight {
    -webkit-tap-highlight-color: transparent;
  }
}
